
// sass 变量
// 默认样式，

$primary: #eceef1; // 主色调

// 默认渐变背景 墨蓝向下渐变紫红
$gradient-background: radial-gradient(302% 105% at top center, #1b2947 10%, #75517d 40%, #e38aba 75%, #eef7d4);

$menuH: 64px; // 导航栏高度
$test: red; // 测试变量


